body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 30px;
}

textarea {
	width: 380px;
	margin-bottom: 20px;
}

.registration {
	width: 400px;
	border: 1px solid #000;
	margin: 30px;
	padding: 20px;
}

.complete {
	width: 400px;
	margin: 30px;
}